body {
  background-color: #f5f5f5 !important;
  font-family: Helvetica !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.btn-login:hover {
  background-color: #ebecfc !important;
  text-decoration: underline;
  color: blue !important;
}

.order:hover {
  text-decoration: underline;
  color: rgb(57, 56, 59) !important;
}
